#atb {
  height: 100%;
  padding: 5px;
  background: #BFBF28;
  text-align: center;
}
#atb h1 {
  font-size: 55px;
  margin: 0;
}
#atb h2 {
  font-size: 25px;
  margin-top: 56px;
}
#atb p {
  font-size: 16px;
}
#atb table {
  margin: 50px 10px 0 10px;
}
#atb .time {
  text-align: right;
  white-space: nowrap;
}
#atb .destination {
  text-align: left;
  width: 100%;
}
#atb p:not(.updated-at) {
  margin: 40px;
}
