#powermeter {
  height: 100%;
  padding: 5px;
  background: #333333;
}
#powermeter #chart-pm {
  position: absolute;
  top: 10px;
  right: 0;
}
#powermeter #y-axis-pm {
  position: absolute;
  top: 10px;
  left: 0;
  width: 66px;
  height: 470px;
  color: #ffffff;
}
#powermeter .y_ticks {
  fill: #ffffff;
  fill-opacity: 1;
}
#powermeter .y_axis {
  height: 100%;
}
#powermeter .rickshaw_legend {
  padding: 0;
}
#powermeter #legend-pm {
  position: absolute;
  bottom: 0;
  background: none;
  width: 100%;
}
#powermeter #legend-pm ul {
  margin: 0 auto;
  width: 50px;
}
