#ambient {
  height: 100%;
  padding: 5px;
  background: #540578;
  text-align: center;
}
#ambient h1 {
  font-size: 52px;
  margin-bottom: 0px;
}
#ambient h2 {
  font-size: 30px;
  margin-top: 10px;
}
#ambient p:not(.updated-at) {
  margin: 40px;
}
